:root {
    --primary-color: dodgerblue;
    --primary-text-color: whitesmoke;
    --secondary-text-color: #d0d0d0;
    --darker-text-color: #2a2a2a;
    --light-text-color: #404040;
    --error: #e01f1f;
    --warning: #eabc15;
    --success: #5ec71e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.section__table{
    height: 500px;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow: scroll;
    overflow-x: hidden;
}

.edit-btn {
    padding: 4px 8px;
    background: var(--warning);
    color: var(--light-text-color);
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.delete-btn {
    padding: 4px 8px;
    background: var(--error);
    color: var(--light-text-color);
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.send-btn {
    padding: 4px 8px;
    background: var(--success);
    color: var(--light-text-color);
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

/*Menu Style*/
.menu {
    padding: 8px 0;
    background: var(--primary-color);
}

.menu__shortcuts, .menu__shortcut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu__link {
    padding: 8px 16px;
    color: var(--primary-text-color);
    font-size: 24px;
    text-decoration: none;
}

.menu__link:hover {
    background: rgba(0, 0, 0, 0.3);
}

/*Table Style*/

.table {
    width: 100%;
    margin: 16px 0;
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
    border-spacing: 0;
}

.table__head {
    background: var(--primary-color);
}

.table__body > .table__row {
    background: var(--secondary-text-color);
}

.table__body > .table__row:nth-of-type(2n - 1) {
    background: var(--primary-text-color);
}

.table__header, .table__data {
    padding: 8px 16px;
    font-size: 20px;
    text-align: center;
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
}

.table__header {
    color: var(--primary-text-color);
    font-weight: bolder;
    text-transform: uppercase;
}

.table__data {
    color: var(--light-text-color);
    font-size: 16px;
    font-weight: bold;
}